@model Product
@{
    ViewData["Title"] = "Delete Product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Delete" method="post">
    <vc:confirm-deletion id="@Model.ProductID" name="@Model.Name"></vc:confirm-deletion>
    <div>
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="List" class="btn btn-primary">Cancel</a>
    </div>
</form>
