@model Product
@{
    ViewData["Title"] = "Delete Product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Delete" asp-route-id="@Model.ProductID" method="post">
    <input asp-for="ProductID" type="hidden" />
    <p>Are you sure you want to delete the product "@Model.Name"?</p>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="List" class="btn btn-primary">Cancel</a>
    </div>
</form>
