@model Customer
@{
    ViewData["Title"] = "Delete Customer";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Delete" method="post">
    <vc:confirm-deletion id="@(int)Model.CustomerID" name="@Model.FullName"></vc:confirm-deletion>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
